<h4>New DHCP Reservation</h4>

<a class="btn btn-sm btn-default" href="/dhcp">Back</a>
<br>
<br>

<form method="post" action="/dhcp">
  <div class="form-group">
    <label>Host:</label>
    <input class="form-control" name="host"></input>
  </div>

  <div class="form-group">
    <label>MAC:</label>
    <input class="form-control" name="mac"></input>
  </div>

  <div class="form-group">
    <label>IP:</label>
    <input class="form-control" name="ip"></input>
  </div>

  <button type="submit" class="btn btn-sm btn-success">Create</button>
</form>
