<h4>New Reservation</h4>

<% if params[:result] == "false" %>
<div class="alert alert-danger" role="alert">Error Occured</div>
<% end %>

<form method="post" action="/dhcp">
  <div class="form-group">
    <label>Host:</label>
    <input class="form-control" name="host"></input>
  </div>

  <div class="form-group">
    <label>MAC:</label>
    <input class="form-control" name="mac"></input>
  </div>

  <div class="form-group">
    <label>IP:</label>
    <input class="form-control" name="ip"></input>
  </div>

  <button type="submit" class="btn btn-sm btn-success">Create</button>
  <a class="btn btn-sm btn-default" href="/dhcp">Cancel</a>
</form>
